*{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    height: 100vw;
    width: 100vw;
    margin: 0%;
}

nav{
     width: 90vw;
     text-align: right;
     margin: 10px auto;
     font-size: 20px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: brown;
    margin: 0px 10px;
    letter-spacing: 1px;
}

nav ul li a:hover{
    text-decoration: underline;
}
.strapline-container{
    border: 2px solid rgb(161, 204, 161);
    width: 90%;
    height:55%;
  
    margin: auto auto;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1498481530819-96eff6cef535?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1135&q=80);
    background-size: cover;
    background-position: center ;
}

.main-strapline{
    color: rgb(186, 199, 10);
    background-color: white;
    font-size: 3vw;
    text-transform: uppercase;
    margin: 0px 0px;
    font-family:  sans-serif;
}
.contact-comtainer{
    width: 100vw;
    height: 30vh;
    background-color: rgb(101, 240, 101);
    text-align: center;
    color: honeydew;
}
.contact-title{
    margin: 25px 0;
    text-transform: uppercase;
    font-size: 250%;

}
.social-media-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    margin:0 auto;
}

.social-media-icon{
    margin: 7px;
}