*{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    height: 100vw;
    width: 100vw;
    margin: 0%;
}

nav{
     width: 90vw;
     text-align: right;
     margin: 10px auto;
     font-size: 20px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: brown;
    margin: 0px 10px;
    letter-spacing: 1px;
}

nav ul li a:hover{
    text-decoration: underline;
}

.strapline-container{
  border: 2px solid rgb(2, 59, 2);
  width: 90%;
  height:85%;

  margin: auto auto;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1558160074-4d7d8bdf4256?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGVhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
  background-size: cover;
  background-position: center ;
}

.main-strapline{
    color: rgb(29, 100, 11);
    font-size: 5vw;
    text-transform: uppercase;
    margin: 50px 0px;
    font-family: 'Coda Caption', sans-serif;
}

.second-strapline
{
    color: #FFFFDD;
    font-size: 3vw;
    font-style: italic;
    font-family: 'Original Surfer', cursive;
}

.section-title{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lawngreen;
    text-transform: uppercase;
    font-size: 5vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.about-sec{
    width: 100vw;
}

.about-container{
    width: 85vw;
    margin: 0vw auto;
    display: flex;
    flex-direction: row;
}

.left-box{
    width: 45%;
    color: rgb(89, 151, 89);
    text-align: justify;
    line-height: 220%;
    font-weight: bold;
    letter-spacing: 0.8px; 
}

.right-box{
    width: 40%;
    height: 700px;
    margin-left: 6%;
    margin-top: 50px;
}

.top-row, .bottom-row{
    display: flex;
    flex-direction: row;
}


.grid-one{
    width: 50%;
    height: 240px;
    background-image: url(https://images.all-free-download.com/images/graphicthumb/tea_05_hq_pictures_167437.jpg);
    background-size: cover;
    background-position: center ;
}

.grid-two{
    width: 50%;
    height: 240px;
    background-image: url(https://c0.wallpaperflare.com/preview/903/497/130/coffee-cup-cup-drink-beverage.jpg);
    background-size: cover;
    background-position: center ;
}

.grid-three{
    width: 50%;
    height: 240px;
    background-image: url(https://media.istockphoto.com/photos/green-tea-leaves-young-shoots-that-are-beautiful-picture-id1177633539?k=6&m=1177633539&s=612x612&w=0&h=zMXZzRpVMUKXobVE5He4uKIB_IgOPGl2NHnct6Yc8SU=);
    background-size: cover;
    background-position: center ;
}

.grid-four{
    width: 50%;
    height: 240px;
    background-image: url(https://images.unsplash.com/photo-1601050690597-df0568f70950?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2Ftb3NhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
    background-position: center ;
}

.tea-type-container
{
    width: 100vw;
}

.image-container{
    width: 100vw;
}

.row-one, .row-two, .row-three{
    width: 90%;
    margin: 0% auto;
    text-align: center;
}

.grid-item{
    width: 30%;
    height: 310px;
    display: inline-block;
    margin: 15px;
    background-size: cover;
    background-position: center;
}

.grid-item:hover{
    opacity: 0.5;
    transition: .5s ease;
}

#tea-one{
    background-image: url(https://images.unsplash.com/photo-1498481548071-4d439c62cd6e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=645&q=80);
}
#tea-one:hover #mint-tea
{
    opacity:1;
}
#mint-tea {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 50px;
    padding: 5px 10px;
    background-color: black;
  }
#tea-two{
    background-image: url(https://images.unsplash.com/photo-1586792106950-8f02ebb373c1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80);
}

#tea-three{
    background-image: url(https://images.unsplash.com/photo-1611312410928-bdcb480e6239?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=620&q=80);
}

#tea-four{
    background-image: url(https://images.unsplash.com/photo-1433891248364-3ce993ff0e92?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
}

#tea-five{
    background-image: url(https://images.unsplash.com/photo-1455813870877-04a32045af63?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=693&q=80);
}

#tea-six{
    background-image: url(https://images.unsplash.com/photo-1606444006818-3e66c09f2724?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=676&q=80);
}

#tea-seven{
    background-image: url(https://images.unsplash.com/photo-1499638673689-79a0b5115d87?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
}

#tea-eight{
    background-image: url(https://images.unsplash.com/photo-1563911892437-1feda0179e1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80);
}

#tea-nine{
    background-image: url(https://images.unsplash.com/photo-1501841580093-a258b1937efe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80);
}

.store-container{
    width: 90%;
    margin: 0% auto;
    display: flex;
    flex-direction: row;
}

.store-div{
    width: 30%;
    height: 240px;
    margin: 20px;
    text-align: center;
    color: green;
    font-size: 20px;
}

.contact-comtainer{
    width: 100vw;
    height: 50vh;
    background-color: rgb(101, 240, 101);
    text-align: center;
    color: honeydew;
}

.contact-title{
    margin: 25px 0;
    text-transform: uppercase;
    font-size: 250%;

}

.social-media-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    margin:0 auto;
}

.social-media-icon{
    margin: 7px;
}